<!DOCTYPE html>
<html>
<head>
    <title>lading.me</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<% var siteNav = "index";%>
	<%- include module/nav.ejs -%>
    <div class="sitecon  fn-clear">
        <div class="grid">
            <div class="postlist">
            	<%for(var i=0;i<postList.length;i++){%>
                <article class="post">
                    <h2 class="posttitle"><a href="/post/<%=postList[i].unique%>" ><%= postList[i].title%></a></h2>
                    <div class="postmeta">
                        <span class="author">Posted by Lading  </span> - <span class="clock">  <%= postList[i].createDate%></span>
                    </div>
                    <div class="entry">
                        <%- postList[i].content%>
                    </div>
                    <div class="read-more"><a href="/post/<%=postList[i].unique%>" href="more-link">阅读全文»</a></div>
                    <div class="singleinfo">
                        <span class="categori">Categories: <% for(var j=0;j<postList[i].tags.length;j++){%><a rel="category tag" title="<%= postList[i].tags[j]%>" href="#"><%= postList[i].tags[j]%></a> <%}%></span>
                    </div>
                </article>
				<%}%>
                <div class="pagenav fn-clear">
                	<%if(page<total){%>
                    <div class="fn-left"><a href="/p<%= Number(page)+1%>">« 前一页</a></div>
                    <%}%>
                    <%if(page>1){%>
                    <div class="fn-right"><a href="#">后一页 »</a></div>
                    <%}%>
                </div>
            </div>
            <div class="sidelist">
                <dl class="side-dl">
                    <dt>分类列表</dt>
                    <%for(var i=0;i<categoryList.length;i++){%>
                    <dd><a href="/category/<%=categoryList[i].unique%>"><%=categoryList[i].name%></a></dd>
                    <%}%>
                </dl>
                <dl class="side-dl">
                    <dt>热门标签</dt>
                    <dd>
                    <%for(var i=0;i<tagList.length;i++){%>
                    <a href="/tag/<%=tagList[i]%>"><%=tagList[i]%></a>
                    <%}%>
                    </dd>
                </dl>
				<a href="http://adc.alibabatech.org/" target="_blank"><img src="http://img03.taobaocdn.com/tps/i3/T1t_mYXvtXXXX.sofS-300-250.png" width="260" alt="ADC·阿里技术嘉年华（7月13-14日·杭州）" /></a>
            </div>
        </div>
        
    </div>
	<%- include module/foot.ejs -%>
	<script src="/js/jquery.js"></script>
	<script src="/js/kindeditor/plugins/code/prettify.js"></script>
	<script>
	    $(window).load(function(){
		     $("pre").addClass("prettyprint");
		     prettyPrint();
		})
	</script>
	
</body>
</html>
