<!DOCTYPE html>
<html>
<head>
    <title>lading.me</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<% var siteNav = "index";%>
	<%- include module/nav.ejs -%>
    <div class="sitecon  fn-clear">
        <div class="grid">
            <div class="post">
                <h2 class="posttitle"><%= post.title%></h2>
                <div class="postmeta">
                    <span class="author">Posted by Lading  </span> - <span class="clock">  <%= post.createDate%></span>
                </div>
                <div class="entry">
                    <%- post.content%>
                </div>
                <div class="singleinfo">
                    <span class="categori">Categories: <% for(var j=0;j<post.tags.length;j++){%><a rel="category tag" title="<%= post.tags[j]%>" href="#"><%= post.tags[j]%></a> <%}%></span>
                </div>
                
                <!-- Duoshuo Comment BEGIN -->
					<div class="ds-thread"></div>
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"lading"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = 'http://static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						|| document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
				<!-- Duoshuo Comment END -->
                
            </div>
        </div>
        
    </div>
	<%- include module/foot.ejs -%>
	<script src="/js/jquery.js"></script>
	<script src="/js/kindeditor/plugins/code/prettify.js"></script>
	<script>
	    $(window).load(function(){
		     $("pre").addClass("prettyprint");
		     prettyPrint();
		})
	</script>
	
</body>
</html>
